body,
html {
  background: $background;
  background-image: url("/images/bg.png");
  background-size: 40rem;
  background-repeat: repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: left top;
  position: fixed;
  left: 0px;
  width: 100vh;
  top: 100vh;
  height: $left-bar;
  margin: 0;
  color: $light-text-color;
  span {
    color: $text-color;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -1px;
    width: 100vh;
    height: 5px;
    background-size: 10px 10px;
    background-image: linear-gradient(
      -45deg,
      $s1 25%,
      $s2 25%,
      $s2 50%,
      $s1 50%,
      $s1 75%,
      $s2 75%
    );
  }
}
main {
  margin: 0 auto 0 $left-bar;
  max-width: $max-width;
  section {
    div {
      margin: $big-spacing * 5 0;
    }
    h2 {
      margin: 0;
      padding: $spacing;
      span {
        background-color: $background;
        display: inline-block;
        color: $light-text-color;
        padding: $spacing $big-spacing;
      }
      @include stripes;
      background-attachment: fixed;
      margin: 2px 0;
    }
    h3 {
      color: $text-color;
      padding: $big-spacing;
      margin: 0px 0;
    }
    p {
      padding: 0 $big-spacing $spacing $big-spacing;
      font-size: 1.6rem;
      color: $light-text-color;
      border-style: dotted;
      border-width: 0 0 2px 0;
      border-color: $light-text-color;
    }
    ul {
      list-style-type: "\27bd";
      li {
        color: $light-text-color;
        font-size: 2rem;
        margin: $spacing 0;
      }
    }
  }
}

footer {
  margin: 0 auto 0 $left-bar;
  max-width: $max-width;
  padding: $big-spacing;
  p {
    font-size: 1.2rem;
  }
  svg {
    width: 40px;
    position: fixed;
    z-index: 99;
    left: 4.2rem;
    bottom: 10px;
    color: $text-color;
    transform: rotate(-90deg);
  }
}
